@import url(http://fonts.googleapis.com/css?family=Noticia+Text);
body {
	background-color: #141414;
	font-family: 'Noticia Text', serif;
	font-size: 90%;
}

.container {
	margin: 50px auto 0 auto;
	width: 50%;
	background-color: #a0d26e;
	border-radius: 6px;
	padding: 2em;
}

header, article {

	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;

	h1, h2, h3 {
		display: inline;
	}

	h1 {
		font-size: 4em;
	}

	h2 {
		font-size: 80%;
	}
}

article {
	h2 {
		font-size: 100%;
	}
	h3 {
		font-size: 90%;
	}
}
