@import 'sass-bootstrap/lib/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Noticia+Text);
body {
	background-color: #3f3f3f;
}
.hero-unit {
	font-family: 'Noticia Text', serif;
	margin: 50px auto 0 auto;
	width: 300px;
}
