@import "compass/utilities";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "compass/css3/shared";
@import "compass/typography/lists/bullets";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400);
@import url(http://fonts.googleapis.com/css?family=Sanchez);

$width: 777px;
$base-color: #3f3f3f;
$text-color: darken($base-color, 30%);
$title-color: #8cd859;
$selection-color: #72dcac;

$border: 1px solid $base-color;

$break-small: 600px;
$break-large: 1800px;

html,
button,
input,
select,
textarea {
	background-color: $base-color;
	font-family: 'Roboto+Slab', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, a:visited {
	font-family: 'Sanchez', serif;
}

::selection {
	background: $selection-color;
}

a, a:visited {
	text-decoration: none;
	transition: opacity .2s ease-in-out;
	color: $text-color;
	text-shadow: 0 0 1px #000;
}

a:hover, a:active {
	opacity: 1.5;
	text-shadow: 0 0 10px #000;
	text-decoration: underline;
}

@mixin media($media) {
	@if $media == small {
		@media only screen and (max-width: $break-small) { @content; }
	}
	@else if $media == medium_only {
		@media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
	}
	@else if $media == medium {
		@media only screen and (min-width: $break-small + 1) { @content; }
	}
	@else if $media == wide {
		@media only screen and (min-width: $break-large) { @content; }
	}
}

// to be used in js
@include media(small) { 
	body:after{
		content: 'small';
		display: none;
	}

	$base-font-size: 14.5px;
	$base-line-height: 17px;
	@include establish-baseline;

}

@include media(medium) {
	body:after{
		content: 'medium';
		display: none;
	}

	$base-font-size: 19px;
	$base-line-height: 23px;
	@include establish-baseline;

}


.mauroio {
	max-width: $width;
	margin-left: auto;
	margin-right: auto;

	@include border-radius(8px);	
	background-color: lighten(invert($base-color), 20%);
	color: $text-color;

	> section {
		padding: 0 1em 1em 1em;
	}

	h2, h3, h4 {
		margin-bottom: 0.5em;
	}

	p { margin-top: 0 }

	@include media(small) { 
		margin: 0.6em;
		box-shadow: 0 0 1em #000;
	}

	@include media(medium) {
		margin-top: 1.2em;
		margin-bottom: 3em;
		box-shadow: 0 0 2em #000;
	}

	header
	{
		margin-top: 0;

		a {

			> * {
				margin-top: 0.1em;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	section {
		p:first-child , p:nth-child(2) {
			display: inline-block;
			vertical-align: top;
		}
		p:first-child {
			width: 74%;
			@include media(small) { width: calc(100% - 70px - 5px); }
			@include media(medium) { width: calc(100% - 120px - 5px); }
		}
		img.portrait {
			border-radius: 2%;
			box-shadow: 0 0 0.3em #000;
		}
	}

	h1:after, h2:after, h3:after, h4:after {
		content: " ";
		position: absolute;
		background: $selection-color;
		margin: 0 .2em;
		width: .5em;
		height: .5em;
	}

	ul {
		padding: 0px;
	} 

	li {
		@include no-bullet;
		border-top: $border;
		padding: .5em 1.65em .5em .5em;
	}

	li:hover {
		border-bottom: $border;
	}

	li:hover, li:hover > * {
		transition: opacity .2s ease-in-out;
		opacity: 0.6;
		text-shadow: 0 0 10px #000;
	}

	li:hover + li {
		border-top: 0;
	}

	li:last-child {
		border-bottom: $border;
	}

	li a, li > a:hover, li:hover > * {
		text-decoration: none;
		opacity: 1;
	}

	.post {

		h2:after {
			display: none;
			width: 0;
		}

		header {
			@include word-break(break-all);

			margin-bottom: 0.5em;

			> * {
				display: block;
			}

			h2 {
				@include adjust-font-size-to(25px, .9);
				padding-bottom: 0em;
				margin-bottom: 0;
				margin-top: 0;
				border-bottom: $border;
			}

			time {
				text-align: right;
				@include adjust-font-size-to(15px, .7);
				padding-bottom: 0;
				padding-top: 0.1em;
			} 
		}
	}

	footer {
		@include adjust-font-size-to(11px, .7);
		text-align: center;
		margin: 0 0.5em;
	}
}
