@import "compass/layout/stretching";
@import "compass/utilities";
@import "compass/css3";

$break-small: 320px;
$break-large: 1024px;

@mixin media($media) {
  @if $media == small {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

.mauroio {
  @include display-box;
  @include box-orient(vertical);
  @include box-align(stretch);
  @include box-direction(reverse);
  //height: 100%;
  //width: 100%;
  .content, .sidebar {
    padding: 20px; 
  }
  .content {
  	@extend .stretch-offset;
  }
  .sidebar {
    @include box-flex(1);
    background-color: #375f99;
    margin-right: 1px;
	}
}

.stretch-container {
  border: 1px solid #999999;
  width: 200px;
  height: 200px;
  position: relative;
  @include inline-block; }
 
.stretched {
  $stretch-color: #4c6b99;
  border: 3px solid $stretch-color;
  @include border-radius(8px);
  display: block;
  background-color: darken($stretch-color, 30%);
  color: white;
  vertical-align: middle;
  padding: 0.5em; }
 
.stretch-full {
  @extend .stretched;
  @include stretch; }
 
.stretch-offset {
  @extend .stretched;
	@include media(small) { @include stretch(5em, 1em, 1em, 1em); }
  @include media(medium) { @include stretch(5em, 1em, 1em, 1em); }
  @include media(wide) { @include stretch(5em, 10em, 1em, 10em); }
}
  
.stretch-x {
  @extend .stretched;
  @include stretch-x; }
 
.stretch-y {
  @extend .stretched;
  @include stretch-y; }


